@media screen and (min-width:1900px) {
    .confidence {
        background-size: 110%;
    }
}


/* responsive for header */

@media screen and (max-width:1260px) and (min-width:1164px) {
    .phone_number .first_of_the_number {
        font-size: 35px;
    }
    .phone_number .end_of_the_number {
        font-size: 58px;
    }
}

@media screen and (max-width:1164px) and (min-width:1000px) {
    .phone_number .first_of_the_number {
        font-size: 30px;
    }
    .phone_number .end_of_the_number {
        font-size: 50px;
    }
}

@media screen and (max-width:1000px) and (min-width:950px) {
    .phone_number .first_of_the_number {
        font-size: 25px;
    }
    .phone_number .end_of_the_number {
        font-size: 45px;
    }
}

@media screen and (max-width:900px) {
    .phone_header_custom {
        font-size: 60px;
    }
    .phone_number {
        margin-top: 0px;
    }
}

@media screen and (max-width:950px) and (min-width:850px) {
    .phone_number .first_of_the_number {
        font-size: 24px;
    }
    .phone_number .end_of_the_number {
        font-size: 40px;
    }
}

@media screen and (max-width:850px) and (min-width:800px) {
    .phone_number .first_of_the_number {
        font-size: 22px;
    }
    .phone_number .end_of_the_number {
        font-size: 38px;
    }
}

@media screen and (max-width:800px) {
    .phone_number .first_of_the_number {
        font-size: 20px;
    }
    .phone_number .end_of_the_number {
        font-size: 34px;
    }
}

@media screen and (max-width:1113px) and (min-width:950px) {
    .header_search_form {
        width: 59%;
        margin-left: 10px;
    }
}

@media screen and (max-width:950px) and (min-width:768px) {
    .header_search_form {
        width: 57%;
        margin-left: 30px;
    }
}

@media screen and (max-width:768px) {
    .header_search_form {
        width: 100%;
        order: 1;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .header_search_custom {
        flex-wrap: wrap;
    }
    .phone_number {
        width: 45%;
    }
    .header_logo {
        width: 45%;
    }
}


/* start responsive for menu */

@media screen and (max-width:1400px) and (min-width:1150px) {
    .second_menu {
        margin-right: 40px;
    }
}

@media screen and (max-width:1150px) and (min-width:1000px) {
    .second_menu {
        margin-right: 30px;
    }
}

@media screen and (max-width:1717px) and (min-width:1600px) {
    .first_menu ul li {
        padding: 0 28px;
    }
    .first_menu ul li a {
        font-size: 20px;
    }
}

@media screen and (max-width:1600px) and (min-width:1275px) {
    .first_menu ul li {
        padding: 0 20px;
    }
    .first_menu ul li a {
        font-size: 19px;
    }
}

@media screen and (max-width:1400px) {
    .first_menu ul {
        padding-right: 10px;
    }
}

@media screen and (max-width:1372px) and (min-width:1275px) {
    .second_menu ul li {
        padding: 0 20px;
    }
    .second_menu ul li a {
        font-size: 19px;
    }
    .second_menu ul {
        padding-right: 10px;
    }
}

@media screen and (max-width:1275px) and (min-width:1072px) {
    .first_menu ul li a::before {
        left: -20px;
    }
    .first_menu ul li {
        padding: 0 13px;
    }
    .first_menu ul li a {
        font-size: 18px;
    }
}

@media screen and (max-width:1120px) {
    .header_logo {
        width: 16%;
    }
}

@media screen and (max-width:1275px) and (min-width:1072px) {
    .second_menu ul li a {
        font-size: 18px;
    }
    .second_menu ul li {
        padding: 0 15px;
    }
}

@media screen and (max-width:1072px) {
    .first_menu ul li a::before {
        left: -20px;
    }
    .first_menu ul li {
        padding: 0 13px;
    }
    .first_menu ul li a {
        font-size: 17px;
    }
}

@media screen and (max-width:1072px) {
    .first_menu ul li {
        padding: 0 13px;
    }
    .second_menu ul li a {
        font-size: 17px;
    }
}

@media screen and (max-width:1200px) {
    .first_menu ul {
        padding-right: 7px;
    }
}

@media screen and (max-width:1365px) {
    .menu_section {
        padding-top: 10px;
    }
}


/* responsive for mega menu */

@media screen and (max-width:1990px) and (min-width:1400px) {
    .first_menu ul li ul {
        right: 60px;
    }
}

@media screen and (max-width:1400px) {
    .first_menu ul li ul {
        right: 0;
    }
    .first_menu ul li ul {
        right: 23px;
    }
}

@media screen and (max-width:768px) {
    .header_logo {
        width: 50%;
    }
}

@media screen and (max-width:400px) {
    .header_logo {
        width: 100%;
        order: -1;
    }
    .phone_number {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
    .header_search_form {
        margin-top: 0;
    }
}

@media screen and (max-width:1042px) {
    .menu_section {
        display: none;
    }
    .second_menu_section {
        display: flex;
    }
    .layout_custom {
        display: block;
    }
    .layout2 {
        display: block;
    }
}

@media screen and (max-width:768px) and (min-width:522px) {
    .the_most_selling_section h1 {
        font-size: 24px;
    }
}

@media screen and (max-width:522px) {
    .the_most_selling_section h1 {
        font-size: 20px;
        margin: 0;
    }
}

@media screen and (max-width:1200px) {
    .selling_picture_custom_info .fa-angle-right {
        width: 40px;
        height: 40px;
        font-size: 40px;
    }
    .selling_picture_custom_info_4 .fa-angle-left {
        width: 40px;
        height: 40px;
        font-size: 40px;
    }
}

@media screen and (max-width:1100px) {
    .selling_picture_custom_info .selling_picture_custom_info_title {
        font-size: 18px;
    }
}

@media screen and (max-width:767px) {
    .selling_picture_custom {
        padding: 0!important;
    }
}

@media screen and (max-width:567px) {
    .selling_picture_custom_info {
        bottom: 30px;
    }
}

@media screen and (max-width:500px) {
    .selling_picture_custom_info .selling_picture_custom_info_title {
        font-size: 14px;
    }
}

@media screen and (max-width:800px) and (min-width:600px) {
    .mobile_menu_1 {
        width: 40%;
    }
    .mobile_menu_2 {
        width: 40%;
    }
}

@media screen and (max-width:600px) and (min-width:400px) {
    .mobile_menu_1 {
        width: 50%;
    }
    .mobile_menu_2 {
        width: 50%;
    }
}

@media screen and (max-width:400px) {
    .mobile_menu_1 {
        width: 60%;
    }
    .mobile_menu_2 {
        width: 60%;
    }
}

@media screen and (max-width:1400px) and (min-width:1200px) {
    .welcom_sentence h4 {
        font-size: 20px;
    }
    .gland_proud h4 {
        font-size: 22px;
    }
    .gland_proud span {
        font-size: 28px;
    }
    .quality_custom h4 {
        font-size: 23px;
    }
    .aksis_desctiption p {
        font-size: 26px;
    }
}

@media screen and (max-width:1200px) and (min-width:1000px) {
    .welcom_sentence h4 {
        font-size: 18px;
    }
    .gland_proud h4 {
        font-size: 20px;
    }
    .gland_proud span {
        font-size: 26px;
    }
    .quality_custom h4 {
        font-size: 21px;
    }
    .aksis_desctiption p {
        font-size: 24px;
        padding: 30px 20px;
    }
}

@media screen and (max-width:1000px) and (min-width:800px) {
    .welcom_sentence h4 {
        font-size: 16px;
    }
    .gland_proud h4 {
        font-size: 18px;
    }
    .quality_custom h4 {
        font-size: 19px;
    }
    .gland_proud span {
        font-size: 24px;
    }
    .aksis_desctiption p {
        font-size: 22px;
        padding: 30px 20px;
    }
    .aksis_details {
        width: 70%;
    }
}

@media screen and (max-width:800px) and (min-width:550px) {
    .welcom_sentence h4 {
        font-size: 15px;
    }
    .gland_proud h4 {
        font-size: 17px;
    }
    .quality_custom h4 {
        font-size: 18px;
    }
    .aksis_desctiption p {
        font-size: 20px;
        padding: 30px 20px;
    }
    .aksis_details {
        width: 80%;
    }
}

@media screen and (max-width:550px) {
    .welcom_sentence h4 {
        font-size: 14px;
    }
    .gland_proud h4 {
        font-size: 15px;
    }
    .quality_custom h4 {
        font-size: 16px;
    }
    .aksis_desctiption p {
        font-size: 18px;
        padding: 30px 20px;
    }
    .aksis_details {
        width: 90%;
    }
}

@media screen and (max-width:767px) {
    .nemad_custom span {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:900px) and (min-width:800px) {
    .nemad_custom span {
        font-size: 20px;
    }
}

@media screen and (max-width:800px) and (min-width:700px) {
    .nemad_custom span {
        font-size: 18px;
    }
}

@media screen and (max-width:700px) {
    .nemad_custom span {
        font-size: 16px;
    }
}

@media screen and (max-width:1400px) and (min-width:1200px) {
    .Contact_Us_For_more_Info h1 {
        font-size: 45px;
    }
}

@media screen and (max-width:1200px) and (min-width:1000px) {
    .Contact_Us_For_more_Info h1 {
        font-size: 40px;
    }
}

@media screen and (max-width:1000px) and (min-width:819px) {
    .Contact_Us_For_more_Info h1 {
        font-size: 35px;
    }
}

@media screen and (max-width:819px) and (min-width:705px) {
    .Contact_Us_For_more_Info h1 {
        font-size: 30px;
    }
}

@media screen and (max-width:705px) and (min-width:600px) {
    .Contact_Us_For_more_Info h1 {
        font-size: 24px;
    }
}

@media screen and (max-width:600px) and (min-width:468px) {
    .Contact_Us_For_more_Info h1 {
        font-size: 20px;
    }
}

@media screen and (max-width:468px) {
    .Contact_Us_For_more_Info h1 {
        font-size: 16px;
    }
}

@media screen and (max-width:1000px) and (min-width:800px) {
    .confidence h4 {
        font-size: 28px;
    }
}

@media screen and (max-width:800px) and (min-width:600px) {
    .confidence h4 {
        font-size: 24px;
    }
}

@media screen and (max-width:600px) {
    .confidence h4 {
        font-size: 20px;
    }
}

@media screen and (max-width:400px) {
    .confidence {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:335px) {
    .confidence h4 {
        margin-top: 10px;
    }
}

@media screen and (max-width:1700px) and (min-width:1500px) {
    .nemad_section_footer {
        font-size: 22px;
    }
}

@media screen and (max-width:1500px) and (min-width:1200px) {
    .nemad_section_footer {
        font-size: 20px;
    }
}

@media screen and (max-width:1200px) and (min-width:992px) {
    .nemad_section_footer {
        font-size: 18px;
    }
}

@media screen and (max-width:900px) {
    .header_seach_form_button {
        font-size: 30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media screen and (max-width:1600px)and (min-width:1450px) {
    .footer_Custom ul li a {
        font-size: 19px;
    }
    .work_time>span {
        font-size: 19px;
    }
}

@media screen and (max-width:1450px)and (min-width:1200px) {
    .footer_Custom ul li a {
        font-size: 17px;
    }
    .work_time>span {
        font-size: 17px;
    }
}

@media screen and (max-width:1200px) {
    .footer_Custom ul li a {
        font-size: 16px;
    }
    .work_time>span {
        font-size: 16px;
    }
}

@media screen and (max-width:1300px) {
    .footer_Custom {
        padding-right: 90px;
    }
}

@media screen and (max-width:1050px) and (min-width:992px) {
    .phone_footer_custom::before {
        left: 8px;
    }
}

@media screen and (max-width:1500px) {
    .footer_Custom {
        padding-left: 70px;
        padding-right: 70px;
    }
    .footer_last_section {
        padding-left: 70px;
        padding-right: 70px;
    }
}

@media screen and (max-width:1300px) {
    .social_media_section span {
        font-size: 40px;
    }
    .aparat::before {
        margin-top: -7px;
    }
}

@media screen and (max-width:1200px) {
    .footer_Custom ul li {
        margin-left: 20px;
    }
}

@media screen and (max-width:1300px) {
    .footer_Custom {
        padding-right: 20px;
    }
    .footer_last_section {
        padding-right: 30px;
    }
}

@media screen and (max-width:1160px) {
    .footer_last_section {
        padding-left: 43px;
    }
}

@media screen and (max-width:991px) {
    .social_media_section ul {
        justify-content: space-around;
    }
    .nemad_section_footer {
        padding: 30px;
    }
}

@media screen and (max-width:750px) and (min-width:706px) {
    .phone_footer_custom::before {
        left: 30px;
    }
    .work_time span {
        white-space: nowrap;
    }
    .web_custom {
        left: 38px;
    }
}

@media screen and (max-width:750px) and (min-width:575px) {
    .phone_footer_custom::before {
        left: 44px;
    }
    .work_time span {
        white-space: nowrap;
    }
    .web_custom {
        left: 38px;
    }
}

@media screen and (max-width:575px) {
    .contacUs {
        margin-top: 15px;
    }
}

@media screen and (max-width:670px) and (min-width:575px) {
    .web_custom::before {
        left: -21px;
    }
}

@media screen and (max-width:991px) {
    .footer_Custom {
        padding-left: 20px;
    }
}

@media screen and (max-width:991px) and (min-width:800px) {
    .nemad_section_footer {
        display: flex;
        float: none;
        width: 50%;
        margin: 0 auto;
        text-indent: 0;
        justify-content: center;
        padding-right: 0;
        padding-left: 0;
        text-indent: 50px;
    }
}

@media screen and (max-width:800px) and (min-width:700px) {
    .nemad_section_footer {
        display: flex;
        float: none;
        width: 60%;
        margin: 0 auto;
        text-indent: 50px;
        justify-content: center;
        padding-right: 0;
        padding-left: 0;
    }
}

@media screen and (max-width:700px) and (min-width:600px) {
    .nemad_section_footer {
        display: flex;
        float: none;
        width: 70%;
        margin: 0 auto;
        text-indent: 50px;
        justify-content: center;
        padding-right: 0;
        padding-left: 0;
    }
}

@media screen and (max-width:600px) and (min-width:480px) {
    .nemad_section_footer {
        display: flex;
        float: none;
        width: 80%;
        margin: 0 auto;
        text-indent: 50px;
        justify-content: center;
        padding-right: 0;
        padding-left: 0;
        font-size: 20px;
    }
}

@media screen and (max-width:480px) {
    .nemad_section_footer {
        display: flex;
        float: none;
        width: 90%;
        margin: 0 auto;
        text-indent: 50px;
        justify-content: center;
        padding-right: 0;
        padding-left: 0;
        font-size: 16px;
    }
}

@media screen and (max-width:1300px) {
    .English_owner {
        width: 40%;
    }
}

@media screen and (max-width:874px) {
    .English_owner {
        display: flex;
        order: 0;
        justify-content: center;
        width: 100%;
    }
    .footer_last_section p.owner {
        display: block;
        justify-content: center;
        width: 100%;
        order: 2;
        text-align: center;
    }
    .footer_last_section_custom {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
}

@media screen and (max-width:600px) {
    .footer_last_section p.owner {
        font-size: 14px;
    }
}

@media screen and (max-width:1200px) and (min-width:875px) {
    .English_owner {
        width: 37%;
    }
}

@media screen and (max-width:1992px) and (min-width:1373px) {
    .first_menu ul li ul {
        top: 47px;
    }
}

@media screen and (max-width:1373px) and (min-width:1276px) {
    .first_menu ul li ul {
        top: 42px;
    }
}

@media screen and (max-width:1276px) and (min-width:1073px) {
    .first_menu ul li ul {
        top: 41px;
    }
}

@media screen and (max-width:1073px) and (min-width:1000px) {
    .first_menu ul li ul {
        top: 40px;
    }
}

@media screen and (max-width:1756px) and (min-width:1619px) {
    .nemad_section_footer img {
        max-width: 80px;
    }
    .nemad_section_footer {
        font-size: 20px;
    }
}

@media screen and (max-width:1619px) and (min-width:1549px) {
    .nemad_section_footer img {
        max-width: 70px;
    }
    .nemad_section_footer {
        font-size: 18px;
    }
}

@media screen and (max-width:1549px) and (min-width:1357px) {
    .nemad_section_footer img {
        max-width: 60px;
    }
    .nemad_section_footer {
        font-size: 18px;
    }
}

@media screen and (max-width:1357px) and (min-width:1217px) {
    .nemad_section_footer img {
        max-width: 55px;
    }
    .nemad_section_footer {
        font-size: 16px;
    }
}

@media screen and (max-width:1217px) and (min-width:992px) {
    .nemad_section_footer img {
        max-width: 50px;
    }
    .nemad_section_footer {
        font-size: 15px;
    }
}

@media screen and (max-width:1163px) {
    .nemad_section_footer {
        width: auto;
        white-space: nowrap;
    }
}

@media screen and (max-width:991px) {
    .nemad_section_footer img {
        max-width: 60px;
    }
    .nemad_section_footer {
        font-size: 16px;
    }
    .nemad_section_footer {
        width: auto;
        white-space: nowrap;
        max-height: 40px;
    }
}

@media screen and (max-width:1218px) {
    .social_media_section span {
        font-size: 30px;
    }
    .aparat img {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width:767px) {
    .article_product_image {
        border-left: none;
        border-bottom: 18px solid #d1b138;
    }
    .article_product_discription p {
        font-size: 18px;
    }
    .article_product_discription h4 {
        font-size: 28px;
    }
}

@media screen and (max-width:1200px) {
    .article_product_discription {
        padding-top: 60px;
        padding-left: 50px;
        padding-bottom: 80px;
    }
}

@media screen and (max-width:767px) {
    .article_product_discription {
        padding-left: 30px;
    }
}

@media screen and (max-width:1300px) and (min-width:1100px) {
    .carousel-cell {
        width: 22%;
    }
}

@media screen and (max-width:1100px) and (min-width:992px) {
    .carousel-cell {
        width: 33%;
    }
}

@media screen and (max-width:992px) {
    .carousel-cell {
        width: 45%;
    }
}

@media screen and (max-width:600px) {
    .carousel-cell {
        width: 90%;
    }
}

@media screen and (max-width:1525px) and (min-width:1413px) {
    .title_related_product::before {
        left: 2%;
    }
    .title_related_product::after {
        right: 2%;
    }
}

@media screen and (max-width:1413px) and (min-width:1248px) {
    .title_related_product::before {
        left: 1%;
    }
    .title_related_product::after {
        right: 1%;
    }
}

@media screen and (max-width:1248px) and (min-width:1045px) {
    .title_related_product::before {
        left: 0%;
        width: 40%;
    }
    .title_related_product::after {
        right: 0%;
        width: 40%;
    }
}

@media screen and (max-width:1200px) {
    .title_related_product::before {
        bottom: 8px!important;
    }
    .title_related_product::after {
        bottom: 8px!important;
    }
}

@media screen and (max-width:1130px) {
    .title_related_product::after {
        width: 39%;
    }
    .title_related_product::before {
        width: 39%;
    }
}

@media screen and (max-width:1045px) and (min-width:959px) {
    .title_related_product::before {
        width: 38%;
        left: 0;
    }
    .title_related_product::after {
        width: 38%;
        right: 0;
    }
}

@media screen and (max-width:959px) and (min-width:881px) {
    .title_related_product::before {
        width: 37%;
        left: 0;
    }
    .title_related_product::after {
        width: 37%;
        right: 0;
    }
}

@media screen and (max-width:881px) and (min-width:825px) {
    .title_related_product::before {
        width: 36%;
        left: 0;
    }
    .title_related_product::after {
        width: 36%;
        right: 0;
    }
}

@media screen and (max-width:825px) and (min-width:779px) {
    .title_related_product::before {
        width: 35%;
        left: 0;
    }
    .title_related_product::after {
        width: 35%;
        right: 0;
    }
}

@media screen and (max-width:779px) and (min-width:748px) {
    .title_related_product::before {
        width: 34%;
        left: 0;
    }
    .title_related_product::after {
        width: 34%;
        right: 0;
    }
}

@media screen and (max-width:748px) and (min-width:697px) {
    .title_related_product::before {
        width: 30%;
    }
    .title_related_product::after {
        width: 30%;
    }
}

@media screen and (max-width:697px) and (min-width:641px) {
    .title_related_product::before {
        width: 28%;
    }
    .title_related_product::after {
        width: 28%;
    }
}

@media screen and (max-width:641px) and (min-width:620px) {
    .title_related_product::before {
        width: 27%;
    }
    .title_related_product::after {
        width: 27%;
    }
}

@media screen and (max-width:620px) and (min-width:600px) {
    .title_related_product::before {
        width: 26%;
    }
    .title_related_product::after {
        width: 26%;
    }
}

@media screen and (max-width:600px) and (min-width:566px) {
    .title_related_product::before {
        width: 25%;
    }
    .title_related_product::after {
        width: 25%;
    }
}

@media screen and (max-width:566px) and (min-width:550px) {
    .title_related_product::before {
        width: 24%;
    }
    .title_related_product::after {
        width: 24%;
    }
}

@media screen and (max-width:550px) and (min-width:527px) {
    .title_related_product::before {
        width: 23%;
    }
    .title_related_product::after {
        width: 23%;
    }
}

@media screen and (max-width:527px) and (min-width:515px) {
    .title_related_product::before {
        width: 22%;
    }
    .title_related_product::after {
        width: 22%;
    }
}

@media screen and (max-width:515px) and (min-width:500px) {
    .title_related_product::before {
        width: 21%;
    }
    .title_related_product::after {
        width: 21%;
    }
}

@media screen and (max-width:500px) and (min-width:475px) {
    .title_related_product::before {
        width: 18.5%;
    }
    .title_related_product::after {
        width: 18.5%;
    }
}

@media screen and (max-width:475px) and (min-width:460px) {
    .title_related_product::before {
        width: 17%;
    }
    .title_related_product::after {
        width: 17%;
    }
}

@media screen and (max-width:460px) and (min-width:450px) {
    .title_related_product::before {
        width: 16%;
    }
    .title_related_product::after {
        width: 16%;
    }
}

@media screen and (max-width:450px) {
    .title_related_product::before {
        display: none;
    }
    .title_related_product::after {
        display: none;
    }
}

@media screen and (max-width:1125px) and (min-width:800px) {
    .flickity-button.flickity-prev-next-button.next {
        right: -60px!important;
    }
    .flickity-button.flickity-prev-next-button.previous {
        left: -60px!important;
    }
}

@media screen and (max-width:800px) and (min-width:500px) {
    .flickity-button.flickity-prev-next-button.next {
        right: -40px!important;
    }
    .flickity-button.flickity-prev-next-button.previous {
        left: -40px!important;
    }
}

@media screen and (max-width:500px) {
    .flickity-button.flickity-prev-next-button.next {
        right: -35px!important;
    }
    .flickity-button.flickity-prev-next-button.previous {
        left: -35px!important;
    }
}